$standard-font-size:1.25rem;

.header-container {
    max-height: 4rem;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: center;

    .right-menu {
        margin-left: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-logo {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .header-github {
        position: relative;
        vertical-align: middle;
    }
}

@media screen and (max-width:425px){
    .header-container{
        max-height: 2.5rem;
        .left-menu{
            max-width: 200px;
        }
        .right-menu{
            display: none;
        }
    }

}